<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>客户列表</title>
    <style>
        table{border-collapse:collapse;}
        table,th, td{border: 1px solid black;padding: 5px;text-align: center;}
    </style>
</head>
<body>
    <br/>
    <br/>
    <!--网页链接./user/add-->
    <a th:href="@{/add}">新增用户</a>
    <br/>
    <br/>
    <table>
        <thead>
            <th width="20%">id</th>
            <th width="20%">name</th>
            <th width="20%">password</th>
            <th width="20%">操作</th>
        </thead>
        <tbody>
            <tr th:each="customer : ${userList}">
                <td th:text="${customer.userId}"></td>
                <td th:text="${customer.username}"></td>
                <td th:text="${customer.password}"></td>
                <td>
                    <!--页面跳转到http://localhost:8080/edit?id=1-->
                    <a th:href="@{/edit(id=${customer.userId})}">编辑</a> &nbsp;&nbsp;
                    <!--http://localhost:8080/del/1-->
                    <a th:href="@{/del/{id}(id=${customer.userId})}">删除</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>